.navigation{
    display: flex;
}
.toggle{
    display: flex;
    list-style-type: none;
    border: 2px dashed black;
    background-color: khaki;
    width: 100%;
}
#games{
    border-right: 2px dashed black;
}
#games:hover{
    background-color: powderblue;
}
#robots{
    border-right: 2px dashed black;
}
#robots:hover{
    background-color: powderblue;
}
#location{ 
    border-right: 2px dashed black;
}
#location:hover{
    background-color: powderblue;
}
#system{
    border-right: 2px dashed black;
}
#system:hover{
    background-color: powderblue;
}
#watch{
    margin-left: auto;
    border-right: 2px dashed black;
}
#watch:hover{
    background-color: powderblue;
}
#serious:hover{
    background-color: powderblue;
}
#city{
    display: flex;
    justify-content: flex-end;
    max-width: 100%;   
}
body{
    background-color:lightgoldenrodyellow;
}
.wrote-1{
    display: flex;
    border: 2px dashed silver;
    background-color: lemonchiffon;
    width: 100%;
    justify-content: flex-end;
}
.dress{
    color:darkblue;
    background-color: cadetblue;
    transition: background-color 1s;
}
.dress:hover{
    background-color: darkolivegreen;
}
.dress-2{
    color: darkblue;
    background-color: cadetblue;
    transition: background-color 1s;
}
.dress-2:hover{
    background-color: indianred;
}